/* ==========================================================================
   GOOGLE FONT IMPORT
   ========================================================================== */
/*Montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

/*Fraunces*/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
/* ==========================================================================
   CSS VARIABLES & RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BODY FORMATTING*/
body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*ROOT FORMATTING*/
:root {
  --product-card-mg-bttm: 1em;
  --font-size: 16px;
}

/* ==========================================================================
   PRODUCT CARD FORMATTING
   ========================================================================== */

/*Format product card margin spacing*/
.product-card {
  background-color: hsl(0, 0%, 100%);
  margin: 2em 1em;
  border-radius: 1em;
}

/*Format product img and img container*/
.product-img-container img {
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
/*Format product info container*/
.product-info {
  padding: 1em;
}

/*Format product span tag*/
.product-tag {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
  margin-bottom: var(--product-card-mg-bttm);
}

/*Format product title margin bottom*/
.product-title {
  font-family: "Fraunces", sans-serif;
  margin-bottom: 0.5em;
}

/*Format product text margin bottom*/
.product-text {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
  line-height: 1.5;
  margin-bottom: var(--product-card-mg-bttm);
}

/*Format product price container*/
.product-price-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: var(--product-card-mg-bttm);
}

/*Format first product price*/
.product-price-container p:first-child {
  font-family: "Fraunces", sans-serif;
  font-size: 2em;
  color: hsl(158, 36%, 37%);
}

/*Format second price item*/
.product-price-container p:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

/*Format add cart button*/
.add-cart {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 0.5em;
  padding: 1em 2em;
}

/*Format button active and hover state*/
.add-cart:hover,
.add-cart:focus,
.add-cart:active {
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}

/* ==========================================================================
    MEDIA QUERY
   ========================================================================== */

/*tablet media query*/
@media screen and (min-width: 48em) and (max-width: 64em) {
  /*Format product card orientation*/
  .product-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Format product img radius*/
  .product-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-img-container img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1em;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .product-info {
    width: 50%;
  }
}

/*Desktop media query*/
@media screen and (min-width: 64em) {
  /*Format product card orientation*/
  .product-card {
    display: flex;
    justify-self: center;
    align-items: center;
  }
}
